.back1{
	background-color: black;
}

.back2{
	background-color: white;
}


.icon1{
color: white;
}

.fondo1{
	background-image: url("../img/background/hero.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	padding-top: 9%;
}

.pr-60{
	padding-right: 60%;
}
.pt-2{
	padding-top: 2%;
}

.pt-15{
	padding-top: 15%;
}

.menu{
	padding: 2% 2% 2% 10%;

}

.text1{
	font-size: 75px;
}

.text3{
 font-family: Verdana;
 color:gray;
}
.button1{
	height:50px;
	width:150px;
	background-color:#585858;
	margin: 5%;
	border:0;
}

.button2{
	height:50px;
	width:150px;
	background-color:white;
	color:#848484;
	opacity: 0.7;
	border:0;
}

.icon2{
	color:#04B4AE;
}

.pb-15{
	padding-bottom: 15%;
}

.lap{
	width:100%;
}

.pt-2{
	padding-top: 2%;
}

.pl-15{
	padding-left: 15%;
}

.button3{
	height:50px;
	width:150px;
	background-color:blue;
	border:0;
}

.submenu{
	height:50px; 
	width:150px;
	background-color:white;
	border:0;
	font-family: Verdana;
	font-size: 15px;
	margin-left: 2%;
}

.button4{
	height:50px;
	width:150px;
	background-color: #2E2E2E;
	border:0;
	font-size:15px;
	font-family:Verdana;
}

.ml{
margin-left:2px;
}


.mb{
	margin-bottom: 20px;
}